<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Global Styles -->
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <%- include('../components/header') %>

    <div class="container"><%- body %></div>

    <%- include('../components/footer') %>
  </body>
</html>
