<link rel="stylesheet" href="/css/header.css" />

<header class="main-header">
  <h1>PostgreSQL Learning App</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </nav>
</header>
